{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

  {{ macros::head() }}

  <body>

    <div id="particles-js">
        <div class="landing">
            {% block content %}
                <h2 class="not_found_h1"> Not all who wander are lost </h1>
                <h1 class="not_found_h2"> 404 Error </h2>
                <h2 class="not_found_h2"> (But right now you are) </h2>
            {% endblock content %}
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ config.base_url ~ "/js/sweet-scroll.min.js" }}"></script>
    <script src="{{ config.base_url ~ "/js/main.js" }}"></script>
  </body>
